.header a.active {
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;

  }

.navo{
    margin-top: -20px;
    background-color: black;
    height:80px;

    
  }

.navss{
  color:aliceblue;
}

.title{
  float:left;
  width:50%;
}

#titlename{
  font-size: 33px;
  color: aliceblue;
}


.brandname{
  float:left;

}
.mainsearch{
  float:left;
  margin-top: 36px;
  margin-left: 20px;
  
}


.searchtext{
  width:200px;
  height: 27px;
}
.naviga{
  float:left;
  width:50%;
  margin-top: 35px;
  font-size: 16px;

}


.mars{
  margin-left: 15px;
  color:aliceblue;
}


